<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-19</integer>
		<key>@MMK_R_S</key>
		<integer>-3</integer>
		<key>@MMK_R_T</key>
		<integer>-76</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-55</integer>
		<key>@MMK_R_o</key>
		<integer>-22</integer>
		<key>@MMK_R_t</key>
		<integer>-11</integer>
		<key>@MMK_R_u</key>
		<integer>-22</integer>
		<key>@MMK_R_v</key>
		<integer>-33</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-8</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-8</integer>
		<key>@MMK_R_O</key>
		<integer>-12</integer>
		<key>@MMK_R_a</key>
		<integer>-6</integer>
		<key>@MMK_R_o</key>
		<integer>-12</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-35</integer>
		<key>@MMK_R_J</key>
		<integer>-18</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>3</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-19</integer>
		<key>@MMK_R_J</key>
		<integer>-24</integer>
		<key>@MMK_R_O</key>
		<integer>-12</integer>
		<key>@MMK_R_T</key>
		<integer>-23</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-3</integer>
		<key>@MMK_R_x</key>
		<integer>-10</integer>
		<key>Y</key>
		<integer>-7</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-53</integer>
		<key>@MMK_R_J</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-9</integer>
		<key>@MMK_R_V</key>
		<integer>-6</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-3</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-76</integer>
		<key>@MMK_R_J</key>
		<integer>-15</integer>
		<key>@MMK_R_O</key>
		<integer>-35</integer>
		<key>@MMK_R_a</key>
		<integer>-34</integer>
		<key>@MMK_R_h</key>
		<integer>-42</integer>
		<key>@MMK_R_n</key>
		<integer>-16</integer>
		<key>@MMK_R_o</key>
		<integer>-64</integer>
		<key>@MMK_R_s</key>
		<integer>-7</integer>
		<key>@MMK_R_t</key>
		<integer>-16</integer>
		<key>@MMK_R_u</key>
		<integer>-16</integer>
		<key>@MMK_R_v</key>
		<integer>-16</integer>
		<key>@MMK_R_z</key>
		<integer>-14</integer>
		<key>ampersand</key>
		<integer>-57</integer>
	</dict>
	<key>@MMK_L_Thorn</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-23</integer>
		<key>@MMK_R_V</key>
		<integer>-5</integer>
		<key>Y</key>
		<integer>-9</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_J</key>
		<integer>-14</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-8</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-55</integer>
		<key>@MMK_R_J</key>
		<integer>-9</integer>
		<key>@MMK_R_O</key>
		<integer>-12</integer>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_dotlessi</key>
		<integer>-3</integer>
		<key>@MMK_R_i</key>
		<integer>-3</integer>
		<key>@MMK_R_n</key>
		<integer>-28</integer>
		<key>@MMK_R_o</key>
		<integer>-63</integer>
		<key>@MMK_R_p</key>
		<integer>-7</integer>
		<key>@MMK_R_s</key>
		<integer>-26</integer>
		<key>@MMK_R_t</key>
		<integer>-11</integer>
		<key>@MMK_R_u</key>
		<integer>-28</integer>
		<key>@MMK_R_v</key>
		<integer>-8</integer>
		<key>@MMK_R_x</key>
		<integer>-26</integer>
		<key>@MMK_R_z</key>
		<integer>-26</integer>
		<key>J</key>
		<integer>-3</integer>
		<key>O</key>
		<integer>-7</integer>
		<key>ampersand</key>
		<integer>-34</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-31</integer>
		<key>@MMK_R_a</key>
		<integer>-9</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_dotlessi</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-3</integer>
		<key>@MMK_R_T</key>
		<integer>-16</integer>
		<key>@MMK_R_V</key>
		<integer>-3</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>@MMK_R_H</key>
		<integer>35</integer>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>28</integer>
		<key>@MMK_R_T</key>
		<integer>92</integer>
		<key>@MMK_R_U</key>
		<integer>4</integer>
		<key>@MMK_R_V</key>
		<integer>62</integer>
		<key>@MMK_R_a</key>
		<integer>-24</integer>
		<key>@MMK_R_f</key>
		<integer>3</integer>
		<key>@MMK_R_h</key>
		<integer>23</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>4</integer>
		<key>@MMK_R_u</key>
		<integer>15</integer>
		<key>@MMK_R_v</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_i</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-8</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-16</integer>
		<key>@MMK_R_V</key>
		<integer>-3</integer>
	</dict>
	<key>@MMK_L_j</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-14</integer>
		<key>@MMK_R_V</key>
		<integer>-8</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-6</integer>
		<key>@MMK_R_U</key>
		<integer>-9</integer>
		<key>@MMK_R_V</key>
		<integer>-26</integer>
		<key>@MMK_R_a</key>
		<integer>-28</integer>
		<key>@MMK_R_s</key>
		<integer>-15</integer>
		<key>@MMK_R_v</key>
		<integer>-3</integer>
	</dict>
	<key>@MMK_L_l</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-8</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-15</integer>
		<key>@MMK_R_O</key>
		<integer>-6</integer>
		<key>@MMK_R_T</key>
		<integer>-16</integer>
		<key>@MMK_R_V</key>
		<integer>-46</integer>
		<key>@MMK_R_v</key>
		<integer>-7</integer>
		<key>@MMK_R_z</key>
		<integer>-4</integer>
		<key>J</key>
		<integer>-8</integer>
		<key>O</key>
		<integer>-4</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-22</integer>
		<key>@MMK_R_J</key>
		<integer>-17</integer>
		<key>@MMK_R_T</key>
		<integer>-64</integer>
		<key>@MMK_R_V</key>
		<integer>-63</integer>
		<key>@MMK_R_f</key>
		<integer>-8</integer>
		<key>@MMK_R_v</key>
		<integer>-18</integer>
		<key>@MMK_R_x</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-3</integer>
		<key>J</key>
		<integer>-22</integer>
	</dict>
	<key>@MMK_L_q</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-16</integer>
		<key>@MMK_R_V</key>
		<integer>-7</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-4</integer>
		<key>@MMK_R_V</key>
		<integer>-23</integer>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_v</key>
		<integer>22</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-9</integer>
		<key>@MMK_R_V</key>
		<integer>-26</integer>
		<key>@MMK_R_v</key>
		<integer>-8</integer>
		<key>@MMK_R_x</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>3</integer>
		<key>@MMK_R_V</key>
		<integer>-28</integer>
		<key>@MMK_R_o</key>
		<integer>-3</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-33</integer>
		<key>@MMK_R_J</key>
		<integer>-16</integer>
		<key>@MMK_R_O</key>
		<integer>-3</integer>
		<key>@MMK_R_T</key>
		<integer>-16</integer>
		<key>@MMK_R_V</key>
		<integer>-8</integer>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_n</key>
		<integer>3</integer>
		<key>@MMK_R_o</key>
		<integer>-18</integer>
		<key>@MMK_R_s</key>
		<integer>-8</integer>
		<key>@MMK_R_x</key>
		<integer>-3</integer>
		<key>J</key>
		<integer>-19</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-26</integer>
		<key>@MMK_R_a</key>
		<integer>-22</integer>
		<key>@MMK_R_o</key>
		<integer>-28</integer>
		<key>@MMK_R_s</key>
		<integer>-15</integer>
		<key>@MMK_R_v</key>
		<integer>-3</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-26</integer>
		<key>@MMK_R_a</key>
		<integer>-4</integer>
		<key>@MMK_R_n</key>
		<integer>-4</integer>
		<key>@MMK_R_o</key>
		<integer>-3</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>ampersand</key>
		<integer>-40</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-12</integer>
		<key>@MMK_R_O</key>
		<integer>-13</integer>
		<key>ampersand</key>
		<integer>-43</integer>
	</dict>
	<key>five.numr</key>
	<dict>
		<key>fraction</key>
		<integer>30</integer>
	</dict>
	<key>four.numr</key>
	<dict>
		<key>fraction</key>
		<integer>53</integer>
	</dict>
	<key>fraction</key>
	<dict>
		<key>eight.dnom</key>
		<integer>20</integer>
		<key>five.dnom</key>
		<integer>71</integer>
		<key>four.dnom</key>
		<integer>7</integer>
		<key>nine.dnom</key>
		<integer>23</integer>
		<key>one.dnom</key>
		<integer>16</integer>
		<key>seven.dnom</key>
		<integer>71</integer>
		<key>three.dnom</key>
		<integer>75</integer>
		<key>two.dnom</key>
		<integer>55</integer>
	</dict>
	<key>guilsinglright</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-11</integer>
	</dict>
	<key>one.numr</key>
	<dict>
		<key>fraction</key>
		<integer>68</integer>
	</dict>
	<key>six.numr</key>
	<dict>
		<key>fraction</key>
		<integer>33</integer>
	</dict>
	<key>three.numr</key>
	<dict>
		<key>fraction</key>
		<integer>37</integer>
	</dict>
	<key>trademark</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-4</integer>
	</dict>
	<key>two.numr</key>
	<dict>
		<key>fraction</key>
		<integer>79</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-13</integer>
	</dict>
</dict>
</plist>
