<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
		<string>/halant-gurmukhi</string>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>85793CF5-C807-4314-B974-D841D91A524B</string>
	<key>com.schriftgestaltung.weight</key>
	<string>Bold</string>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>175</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>100</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>.null</string>
		<string>CR</string>
		<string>space</string>
		<string>uni0A3E</string>
		<string>uni0A3F</string>
		<string>uni0A40</string>
		<string>uni0A05</string>
		<string>uni0A06</string>
		<string>uni0A07</string>
		<string>uni0A08</string>
		<string>uni0A09</string>
		<string>uni0A0A</string>
		<string>uni0A0F</string>
		<string>uni0A10</string>
		<string>uni0A13</string>
		<string>uni0A14</string>
		<string>uni0A15</string>
		<string>uni0A16</string>
		<string>uni0A17</string>
		<string>uni0A18</string>
		<string>uni0A19</string>
		<string>uni0A1A</string>
		<string>uni0A1B</string>
		<string>uni0A1C</string>
		<string>uni0A1D</string>
		<string>uni0A1E</string>
		<string>uni0A1F</string>
		<string>uni0A20</string>
		<string>uni0A21</string>
		<string>uni0A22</string>
		<string>uni0A23</string>
		<string>uni0A24</string>
		<string>uni0A25</string>
		<string>uni0A26</string>
		<string>uni0A27</string>
		<string>uni0A28</string>
		<string>uni0A2A</string>
		<string>uni0A2B</string>
		<string>uni0A2C</string>
		<string>uni0A2D</string>
		<string>uni0A2E</string>
		<string>uni0A2F</string>
		<string>uni0A30</string>
		<string>uni0A32</string>
		<string>uni0A33</string>
		<string>uni0A35</string>
		<string>uni0A36</string>
		<string>uni0A38</string>
		<string>uni0A39</string>
		<string>uni0A59</string>
		<string>uni0A5A</string>
		<string>uni0A5B</string>
		<string>uni0A5C</string>
		<string>uni0A5E</string>
		<string>uni0A72</string>
		<string>uni0A73</string>
		<string>uni0A74</string>
		<string>uni0A2F.post</string>
		<string>uni0A74.ss01</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>uni0A66</string>
		<string>uni0A67</string>
		<string>uni0A68</string>
		<string>uni0A69</string>
		<string>uni0A6A</string>
		<string>uni0A6B</string>
		<string>uni0A6C</string>
		<string>uni0A6D</string>
		<string>uni0A6E</string>
		<string>uni0A6F</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>uni0964</string>
		<string>uni0965</string>
		<string>zerowidthjoiner</string>
		<string>zerowidthnonjoiner</string>
		<string>Euro</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>florin</string>
		<string>rupeeIndian</string>
		<string>sterling</string>
		<string>yen</string>
		<string>dottedCircle</string>
		<string>uni262C</string>
		<string>uni0A01</string>
		<string>uni0A02</string>
		<string>uni0A3C</string>
		<string>uni0A30.blwf</string>
		<string>uni0A41</string>
		<string>uni0A42</string>
		<string>uni0A47</string>
		<string>uni0A48</string>
		<string>uni0A4B</string>
		<string>uni0A4C</string>
		<string>uni0A4D</string>
		<string>uni0A51</string>
		<string>uni0A70</string>
		<string>uni0A71</string>
		<string>uni0A75</string>
		<string>uni0A39.blwf</string>
		<string>uni0A35.blwf</string>
		<string>uni0A03</string>
	</array>
</dict>
</plist>
