<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>Delta</string>
	</array>
	<key>@MMK_L_A.ss01</key>
	<array>
		<string>A.ss01</string>
		<string>Aacute.ss01</string>
		<string>Abreve.ss01</string>
		<string>Acircumflex.ss01</string>
		<string>Adieresis.ss01</string>
		<string>Agrave.ss01</string>
		<string>Amacron.ss01</string>
		<string>Aring.ss01</string>
		<string>Atilde.ss01</string>
	</array>
	<key>@MMK_L_Aogonek.ss01</key>
	<array>
		<string>Aogonek.ss01</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B</string>
		<string>germandbls</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_E.ss01</key>
	<array>
		<string>E.ss01</string>
		<string>Eacute.ss01</string>
		<string>Ebreve.ss01</string>
		<string>Ecaron.ss01</string>
		<string>Ecircumflex.ss01</string>
		<string>Edieresis.ss01</string>
		<string>Edotaccent.ss01</string>
		<string>Egrave.ss01</string>
		<string>Emacron.ss01</string>
	</array>
	<key>@MMK_L_Eogonek.ss01</key>
	<array>
		<string>Eogonek.ss01</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_F.ss01</key>
	<array>
		<string>F.ss01</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>G.ss01</string>
		<string>Gbreve.ss01</string>
		<string>Gcircumflex.ss01</string>
		<string>Gcommaaccent.ss01</string>
		<string>Gdotaccent.ss01</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>Eng.ss01</string>
		<string>Ubreve.ss01</string>
		<string>Utilde.ss01</string>
	</array>
	<key>@MMK_L_I.ss01</key>
	<array>
		<string>I.ss01</string>
		<string>Iacute.ss01</string>
		<string>Ibreve.ss01</string>
		<string>Icircumflex.ss01</string>
		<string>Idieresis.ss01</string>
		<string>Idotaccent.ss01</string>
		<string>Igrave.ss01</string>
		<string>Imacron.ss01</string>
		<string>Iogonek.ss01</string>
		<string>Itilde.ss01</string>
	</array>
	<key>@MMK_L_J.ss01</key>
	<array>
		<string>IJ.ss01</string>
		<string>J.ss01</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_L_M.ss01</key>
	<array>
		<string>M.ss01</string>
	</array>
	<key>@MMK_L_N.ss01</key>
	<array>
		<string>N.ss01</string>
		<string>Nacute.ss01</string>
		<string>Ncaron.ss01</string>
		<string>Ncommaaccent.ss01</string>
		<string>Ntilde.ss01</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>Q.ss01</string>
		<string>eth</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>T.ss01</string>
		<string>Tbar.ss01</string>
		<string>Tcaron.ss01</string>
		<string>Tcedilla.ss01</string>
		<string>Tcommaaccent.ss01</string>
	</array>
	<key>@MMK_L_Thorn</key>
	<array>
		<string>Thorn</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>IJ</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>@MMK_L_U.ss01</key>
	<array>
		<string>U.ss01</string>
		<string>Uacute.ss01</string>
		<string>Ucircumflex.ss01</string>
		<string>Udieresis.ss01</string>
		<string>Ugrave.ss01</string>
		<string>Uhungarumlaut.ss01</string>
		<string>Umacron.ss01</string>
		<string>Uogonek.ss01</string>
		<string>Uring.ss01</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>@MMK_L_W.ss01</key>
	<array>
		<string>W.ss01</string>
		<string>Wacute.ss01</string>
		<string>Wcircumflex.ss01</string>
		<string>Wdieresis.ss01</string>
		<string>Wgrave.ss01</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>X</string>
	</array>
	<key>@MMK_L_Y.ss01</key>
	<array>
		<string>Y.ss01</string>
		<string>Yacute.ss01</string>
		<string>Ycircumflex.ss01</string>
		<string>Ydieresis.ss01</string>
		<string>Ygrave.ss01</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_L_Z.ss01</key>
	<array>
		<string>Z.ss01</string>
		<string>Zacute.ss01</string>
		<string>Zcaron.ss01</string>
		<string>Zdotaccent.ss01</string>
	</array>
	<key>@MMK_L_ae.ss01</key>
	<array>
		<string>ae.ss01</string>
	</array>
	<key>@MMK_L_asterisk</key>
	<array>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
	</array>
	<key>@MMK_L_divisionslash</key>
	<array>
		<string>divisionslash</string>
	</array>
	<key>@MMK_L_dotlessi</key>
	<array>
		<string>i</string>
		<string>a.ss01</string>
		<string>aacute.ss01</string>
		<string>abreve.ss01</string>
		<string>acircumflex.ss01</string>
		<string>adieresis.ss01</string>
		<string>agrave.ss01</string>
		<string>amacron.ss01</string>
		<string>aogonek.ss01</string>
		<string>aring.ss01</string>
		<string>atilde.ss01</string>
		<string>fi</string>
		<string>fi.ss01</string>
		<string>mu</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>ae</string>
		<string>eogonek</string>
		<string>oe</string>
		<string>e.ss01</string>
		<string>eacute.ss01</string>
		<string>ecaron.ss01</string>
		<string>ecircumflex.ss01</string>
		<string>edieresis.ss01</string>
		<string>edotaccent.ss01</string>
		<string>egrave.ss01</string>
		<string>emacron.ss01</string>
		<string>eogonek.ss01</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
	</array>
	<key>@MMK_L_f.ss01</key>
	<array>
		<string>f.ss01</string>
	</array>
	<key>@MMK_L_hyphen</key>
	<array>
		<string>softhyphen</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>idotless</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>eng</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>@MMK_L_j</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>ij</string>
		<string>j</string>
		<string>jdotless</string>
		<string>jcircumflex</string>
		<string>g.ss01</string>
		<string>gbreve.ss01</string>
		<string>gcircumflex.ss01</string>
		<string>gcommaaccent.ss01</string>
		<string>gdotaccent.ss01</string>
		<string>y.ss01</string>
		<string>yacute.ss01</string>
		<string>ycircumflex.ss01</string>
		<string>ydieresis.ss01</string>
		<string>ygrave.ss01</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>fl</string>
		<string>fl.ss01</string>
	</array>
	<key>@MMK_L_l.ss01</key>
	<array>
		<string>l.ss01</string>
	</array>
	<key>@MMK_L_lslash</key>
	<array>
		<string>lslash</string>
	</array>
	<key>@MMK_L_macron</key>
	<array>
		<string>firsttonechinese</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>b</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>p</string>
		<string>thorn</string>
		<string>ebreve.ss01</string>
		<string>oe.ss01</string>
	</array>
	<key>@MMK_L_parenright</key>
	<array>
		<string>literSign</string>
	</array>
	<key>@MMK_L_q</key>
	<array>
		<string>q</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>t.ss01</string>
		<string>tcaron.ss01</string>
		<string>tcedilla.ss01</string>
		<string>tcommaaccent.ss01</string>
	</array>
	<key>@MMK_L_tbar.ss01</key>
	<array>
		<string>tbar.ss01</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>uogonek</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
	</array>
	<key>@MMK_L_w.ss01</key>
	<array>
		<string>w.ss01</string>
		<string>wacute.ss01</string>
		<string>wcircumflex.ss01</string>
		<string>wdieresis.ss01</string>
		<string>wgrave.ss01</string>
	</array>
	<key>@MMK_L_x</key>
	<array>
		<string>k</string>
		<string>x</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>z.ss01</string>
		<string>zacute.ss01</string>
		<string>zcaron.ss01</string>
		<string>zdotaccent.ss01</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>Delta</string>
	</array>
	<key>@MMK_R_A.ss01</key>
	<array>
		<string>A.ss01</string>
		<string>Aacute.ss01</string>
		<string>Abreve.ss01</string>
		<string>Acircumflex.ss01</string>
		<string>Adieresis.ss01</string>
		<string>Agrave.ss01</string>
		<string>Amacron.ss01</string>
		<string>Aring.ss01</string>
		<string>Atilde.ss01</string>
	</array>
	<key>@MMK_R_Aogonek.ss01</key>
	<array>
		<string>Aogonek.ss01</string>
	</array>
	<key>@MMK_R_E.ss01</key>
	<array>
		<string>E.ss01</string>
		<string>Eacute.ss01</string>
		<string>Ebreve.ss01</string>
		<string>Ecaron.ss01</string>
		<string>Ecircumflex.ss01</string>
		<string>Edieresis.ss01</string>
		<string>Edotaccent.ss01</string>
		<string>Egrave.ss01</string>
		<string>Emacron.ss01</string>
	</array>
	<key>@MMK_R_Eogonek.ss01</key>
	<array>
		<string>Eogonek.ss01</string>
	</array>
	<key>@MMK_R_F.ss01</key>
	<array>
		<string>F.ss01</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Eng.ss01</string>
	</array>
	<key>@MMK_R_I.ss01</key>
	<array>
		<string>I.ss01</string>
		<string>IJ.ss01</string>
		<string>Iacute.ss01</string>
		<string>Ibreve.ss01</string>
		<string>Icircumflex.ss01</string>
		<string>Idieresis.ss01</string>
		<string>Idotaccent.ss01</string>
		<string>Igrave.ss01</string>
		<string>Imacron.ss01</string>
		<string>Iogonek.ss01</string>
		<string>Itilde.ss01</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>@MMK_R_J.ss01</key>
	<array>
		<string>J.ss01</string>
	</array>
	<key>@MMK_R_M.ss01</key>
	<array>
		<string>M.ss01</string>
	</array>
	<key>@MMK_R_N.ss01</key>
	<array>
		<string>N.ss01</string>
		<string>Nacute.ss01</string>
		<string>Ncaron.ss01</string>
		<string>Ncommaaccent.ss01</string>
		<string>Ntilde.ss01</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
		<string>G.ss01</string>
		<string>Gbreve.ss01</string>
		<string>Gcircumflex.ss01</string>
		<string>Gcommaaccent.ss01</string>
		<string>Gdotaccent.ss01</string>
		<string>Q.ss01</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>T.ss01</string>
		<string>Tbar.ss01</string>
		<string>Tcaron.ss01</string>
		<string>Tcedilla.ss01</string>
		<string>Tcommaaccent.ss01</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>Ubreve.ss01</string>
		<string>Utilde.ss01</string>
	</array>
	<key>@MMK_R_U.ss01</key>
	<array>
		<string>U.ss01</string>
		<string>Uacute.ss01</string>
		<string>Ucircumflex.ss01</string>
		<string>Udieresis.ss01</string>
		<string>Ugrave.ss01</string>
		<string>Uhungarumlaut.ss01</string>
		<string>Umacron.ss01</string>
		<string>Uogonek.ss01</string>
		<string>Uring.ss01</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>@MMK_R_W.ss01</key>
	<array>
		<string>W.ss01</string>
		<string>Wacute.ss01</string>
		<string>Wcircumflex.ss01</string>
		<string>Wdieresis.ss01</string>
		<string>Wgrave.ss01</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_R_Y.ss01</key>
	<array>
		<string>Y.ss01</string>
		<string>Yacute.ss01</string>
		<string>Ycircumflex.ss01</string>
		<string>Ydieresis.ss01</string>
		<string>Ygrave.ss01</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_R_Z.ss01</key>
	<array>
		<string>Z.ss01</string>
		<string>Zacute.ss01</string>
		<string>Zcaron.ss01</string>
		<string>Zdotaccent.ss01</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
	</array>
	<key>@MMK_R_ae.ss01</key>
	<array>
		<string>ae.ss01</string>
	</array>
	<key>@MMK_R_asterisk</key>
	<array>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
	</array>
	<key>@MMK_R_dotlessi</key>
	<array>
		<string>i</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>germandbls</string>
		<string>fi</string>
		<string>fl</string>
		<string>fi.ss01</string>
		<string>fl.ss01</string>
	</array>
	<key>@MMK_R_f.ss01</key>
	<array>
		<string>f.ss01</string>
	</array>
	<key>@MMK_R_h</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>thorn</string>
	</array>
	<key>@MMK_R_hyphen</key>
	<array>
		<string>softhyphen</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>idotless</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>eng</string>
	</array>
	<key>@MMK_R_j</key>
	<array>
		<string>j</string>
		<string>jdotless</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_R_l.ss01</key>
	<array>
		<string>l.ss01</string>
	</array>
	<key>@MMK_R_lslash</key>
	<array>
		<string>lslash</string>
	</array>
	<key>@MMK_R_macron</key>
	<array>
		<string>firsttonechinese</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>q</string>
		<string>a.ss01</string>
		<string>aacute.ss01</string>
		<string>abreve.ss01</string>
		<string>acircumflex.ss01</string>
		<string>adieresis.ss01</string>
		<string>agrave.ss01</string>
		<string>amacron.ss01</string>
		<string>aogonek.ss01</string>
		<string>aring.ss01</string>
		<string>atilde.ss01</string>
		<string>e.ss01</string>
		<string>eacute.ss01</string>
		<string>ebreve.ss01</string>
		<string>ecaron.ss01</string>
		<string>ecircumflex.ss01</string>
		<string>edieresis.ss01</string>
		<string>edotaccent.ss01</string>
		<string>egrave.ss01</string>
		<string>emacron.ss01</string>
		<string>eogonek.ss01</string>
		<string>g.ss01</string>
		<string>gbreve.ss01</string>
		<string>gcircumflex.ss01</string>
		<string>gcommaaccent.ss01</string>
		<string>gdotaccent.ss01</string>
		<string>oe.ss01</string>
	</array>
	<key>@MMK_R_p</key>
	<array>
		<string>p</string>
		<string>mu</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_R_slash</key>
	<array>
		<string>divisionslash</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>tbar</string>
		<string>tcaron</string>
	</array>
	<key>@MMK_R_tbar.ss01</key>
	<array>
		<string>tbar.ss01</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>t</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>t.ss01</string>
		<string>tcaron.ss01</string>
		<string>tcedilla.ss01</string>
		<string>tcommaaccent.ss01</string>
		<string>w.ss01</string>
		<string>wacute.ss01</string>
		<string>wcircumflex.ss01</string>
		<string>wdieresis.ss01</string>
		<string>wgrave.ss01</string>
		<string>y.ss01</string>
		<string>yacute.ss01</string>
		<string>ycircumflex.ss01</string>
		<string>ydieresis.ss01</string>
		<string>ygrave.ss01</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
	</array>
	<key>@MMK_R_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>z.ss01</string>
		<string>zacute.ss01</string>
		<string>zcaron.ss01</string>
		<string>zdotaccent.ss01</string>
	</array>
	<key>COMBINING_MARKS</key>
	<array>
		<string>uni0A30.blwf</string>
		<string>uni0A35.blwf</string>
		<string>uni0A39.blwf</string>
		<string>uni0A01</string>
		<string>uni0A02</string>
		<string>uni0A3C</string>
		<string>uni0A41</string>
		<string>uni0A42</string>
		<string>uni0A47</string>
		<string>uni0A48</string>
		<string>uni0A4B</string>
		<string>uni0A4C</string>
		<string>uni0A4D</string>
		<string>uni0A51</string>
		<string>uni0A70</string>
		<string>uni0A71</string>
		<string>uni0A75</string>
		<string>uni0A03</string>
	</array>
</dict>
</plist>
