<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>.null</key>
	<string>_null.glif</string>
	<key>CR</key>
	<string>CR_.glif</string>
	<key>Euro</key>
	<string>Euro_.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dottedCircle</key>
	<string>dottedCircle_.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>rupeeIndian</key>
	<string>rupeeIndian_.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>softhyphen</key>
	<string>softhyphen.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni0964</key>
	<string>uni0964.glif</string>
	<key>uni0965</key>
	<string>uni0965.glif</string>
	<key>uni0A01</key>
	<string>uni0A01_.glif</string>
	<key>uni0A02</key>
	<string>uni0A02_.glif</string>
	<key>uni0A03</key>
	<string>uni0A03_.glif</string>
	<key>uni0A05</key>
	<string>uni0A05_.glif</string>
	<key>uni0A06</key>
	<string>uni0A06_.glif</string>
	<key>uni0A07</key>
	<string>uni0A07_.glif</string>
	<key>uni0A08</key>
	<string>uni0A08_.glif</string>
	<key>uni0A09</key>
	<string>uni0A09_.glif</string>
	<key>uni0A0A</key>
	<string>uni0A0A_.glif</string>
	<key>uni0A0F</key>
	<string>uni0A0F_.glif</string>
	<key>uni0A10</key>
	<string>uni0A10_.glif</string>
	<key>uni0A13</key>
	<string>uni0A13_.glif</string>
	<key>uni0A14</key>
	<string>uni0A14_.glif</string>
	<key>uni0A15</key>
	<string>uni0A15_.glif</string>
	<key>uni0A16</key>
	<string>uni0A16_.glif</string>
	<key>uni0A17</key>
	<string>uni0A17_.glif</string>
	<key>uni0A18</key>
	<string>uni0A18_.glif</string>
	<key>uni0A19</key>
	<string>uni0A19_.glif</string>
	<key>uni0A1A</key>
	<string>uni0A1A_.glif</string>
	<key>uni0A1B</key>
	<string>uni0A1B_.glif</string>
	<key>uni0A1C</key>
	<string>uni0A1C_.glif</string>
	<key>uni0A1D</key>
	<string>uni0A1D_.glif</string>
	<key>uni0A1E</key>
	<string>uni0A1E_.glif</string>
	<key>uni0A1F</key>
	<string>uni0A1F_.glif</string>
	<key>uni0A20</key>
	<string>uni0A20_.glif</string>
	<key>uni0A21</key>
	<string>uni0A21_.glif</string>
	<key>uni0A22</key>
	<string>uni0A22_.glif</string>
	<key>uni0A23</key>
	<string>uni0A23_.glif</string>
	<key>uni0A24</key>
	<string>uni0A24_.glif</string>
	<key>uni0A25</key>
	<string>uni0A25_.glif</string>
	<key>uni0A26</key>
	<string>uni0A26_.glif</string>
	<key>uni0A27</key>
	<string>uni0A27_.glif</string>
	<key>uni0A28</key>
	<string>uni0A28_.glif</string>
	<key>uni0A2A</key>
	<string>uni0A2A_.glif</string>
	<key>uni0A2B</key>
	<string>uni0A2B_.glif</string>
	<key>uni0A2C</key>
	<string>uni0A2C_.glif</string>
	<key>uni0A2D</key>
	<string>uni0A2D_.glif</string>
	<key>uni0A2E</key>
	<string>uni0A2E_.glif</string>
	<key>uni0A2F</key>
	<string>uni0A2F_.glif</string>
	<key>uni0A2F.post</key>
	<string>uni0A2F_.post.glif</string>
	<key>uni0A30</key>
	<string>uni0A30_.glif</string>
	<key>uni0A30.blwf</key>
	<string>uni0A30_.blwf.glif</string>
	<key>uni0A32</key>
	<string>uni0A32_.glif</string>
	<key>uni0A33</key>
	<string>uni0A33_.glif</string>
	<key>uni0A35</key>
	<string>uni0A35_.glif</string>
	<key>uni0A35.blwf</key>
	<string>uni0A35_.blwf.glif</string>
	<key>uni0A36</key>
	<string>uni0A36_.glif</string>
	<key>uni0A38</key>
	<string>uni0A38_.glif</string>
	<key>uni0A39</key>
	<string>uni0A39_.glif</string>
	<key>uni0A39.blwf</key>
	<string>uni0A39_.blwf.glif</string>
	<key>uni0A3C</key>
	<string>uni0A3C_.glif</string>
	<key>uni0A3E</key>
	<string>uni0A3E_.glif</string>
	<key>uni0A3F</key>
	<string>uni0A3F_.glif</string>
	<key>uni0A40</key>
	<string>uni0A40_.glif</string>
	<key>uni0A41</key>
	<string>uni0A41_.glif</string>
	<key>uni0A42</key>
	<string>uni0A42_.glif</string>
	<key>uni0A47</key>
	<string>uni0A47_.glif</string>
	<key>uni0A48</key>
	<string>uni0A48_.glif</string>
	<key>uni0A4B</key>
	<string>uni0A4B_.glif</string>
	<key>uni0A4C</key>
	<string>uni0A4C_.glif</string>
	<key>uni0A4D</key>
	<string>uni0A4D_.glif</string>
	<key>uni0A51</key>
	<string>uni0A51_.glif</string>
	<key>uni0A59</key>
	<string>uni0A59_.glif</string>
	<key>uni0A5A</key>
	<string>uni0A5A_.glif</string>
	<key>uni0A5B</key>
	<string>uni0A5B_.glif</string>
	<key>uni0A5C</key>
	<string>uni0A5C_.glif</string>
	<key>uni0A5E</key>
	<string>uni0A5E_.glif</string>
	<key>uni0A66</key>
	<string>uni0A66_.glif</string>
	<key>uni0A67</key>
	<string>uni0A67_.glif</string>
	<key>uni0A68</key>
	<string>uni0A68_.glif</string>
	<key>uni0A69</key>
	<string>uni0A69_.glif</string>
	<key>uni0A6A</key>
	<string>uni0A6A_.glif</string>
	<key>uni0A6B</key>
	<string>uni0A6B_.glif</string>
	<key>uni0A6C</key>
	<string>uni0A6C_.glif</string>
	<key>uni0A6D</key>
	<string>uni0A6D_.glif</string>
	<key>uni0A6E</key>
	<string>uni0A6E_.glif</string>
	<key>uni0A6F</key>
	<string>uni0A6F_.glif</string>
	<key>uni0A70</key>
	<string>uni0A70_.glif</string>
	<key>uni0A71</key>
	<string>uni0A71_.glif</string>
	<key>uni0A72</key>
	<string>uni0A72_.glif</string>
	<key>uni0A73</key>
	<string>uni0A73_.glif</string>
	<key>uni0A74</key>
	<string>uni0A74_.glif</string>
	<key>uni0A74.ss01</key>
	<string>uni0A74_.ss01.glif</string>
	<key>uni0A75</key>
	<string>uni0A75_.glif</string>
	<key>uni262C</key>
	<string>uni262C_.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zerowidthjoiner</key>
	<string>zerowidthjoiner.glif</string>
	<key>zerowidthnonjoiner</key>
	<string>zerowidthnonjoiner.glif</string>
</dict>
</plist>
